
@import "ember-cli-bootstrap-4/bootstrap";

body{
    background-color: azure;
}

.headings{
    text-align: center;
}

.table{
    color: purple;
    border-color: green;
    border-width: 5px;
}

.delete{
    display: flex;
margin: auto;
}

.red
{
  color:red;
}
.blue
{
  color: green;
}

//   input:checked {
//     background-color: #ab576c;
//   }
  
  


